.logo-img{
    width:591px;
    height:145px;
    margin-left:auto;
    margin-right:auto;
}
form {
    margin-top: 30px;
    background: rgba(66, 139, 202, 0.26) !important;
    border: #b94848 dashed 3px !important;
    padding: 50px !important;
    text-align: center !important;
    color: #b94a48 !important;
}
.dz-image{
    border-radius:5px !important;
    border:5px solid white;
}